# Web Framework
streamlit

# Data Processing & Math
pandas
numpy
scikit-learn

# Machine Learning Model
xgboost
joblib

# Natural Language Processing (for Sentiment_Score)
textblob

# Utilities
python-dateutil
